*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}

/* divs gerais */

.clear{
	clear: both;
}

.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

header{
	background-color: #D6D6D6;
	width: 100%;
	padding: 10px 3%;
}

.img01{
	float: left;
}

.img02{
	float: right;
	margin-top: 10px;
}

@media screen and (max-width: 600px) {
	.img02{
		display: none;
	}

	.img01{
		float: none;
		text-align: center;
	}
}

/* banner e formulário */

.banner{
	width: 100%;
	height: 70vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../imagens/bg-form.jpg);
}

.banner-form > form{
	display: block;
}

.form-container{
	float: right;
	height: 95%;
	width: 30%;
	margin: 1.8%;
	background-color: rgba(255, 255, 255, 0.562);
}

.form-container h2{
	padding: 30px 20px;
	font-size: 18px;
	font-weight: lighter;
	background-color: #fcfcfcc9;
}

.form-container form label, p{
	display: block;
	margin: 20px 10px 5px 10px;
	margin-top: 20px;
	font-size: 15px;
	color: #525252;
}

.form-container form input{
	display: block;
	font-size: 18px;
	width: 95%;
	padding: 3%;
	margin: 0 auto;
}

.form-container form input.btn{
	padding: 3%;
	margin-top: 50px;
	background-color: #033C50;
	color: white;
	border: 0;
	font-size: 25px;
	cursor: pointer;
}

.banner i{
	position: relative;
	left: 50%;
	top: 95%;
	font-size: 60px;
	color: #033C50;
	text-shadow: 1px 2px 5px white;
}

/* Chamada */
.headline{
	padding: 60px;
	width: 100%;
	text-align: center;
	background-color: rgb(224, 224, 224);
	margin-bottom: 4px;
	margin-top: 4px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headline > h2{
	font-size: 40px;
	font-weight: 400;
}

.headline > p{
	color: black;
	font-size: 22px;
	font-weight: lighter;
	margin-top: 10px;
}